@keyframes rotation {
  0% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(345deg);
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  overflow: hidden;
}

.header__title {
  width: 730px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 100;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 100;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
  transition: opacity .2s linear;
}

.header__link:hover {
  opacity :0.5;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  transform: rotate(-15deg);
  animation: rotation 20s linear infinite;
}

.logo {
  width: 154px;
  height: 31px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 100;
}

.header__main-illustration {
  height: 608px;
  width: 756px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* description */

.description {
  display:flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}

.two-columns__main-text {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.two-columns__paragraph:last-child {
  margin-bottom:0;
}

/* techniques */

.techniques {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cards {
  width: 920px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 100px;
}

.cards__item {
  width: 240px;
  padding-top: 60px;
}

.cards__image {
  width: 160px;
  height: 160px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 43px;
  border-radius: 50%;
}

.cards__title {
  text-align: center;
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.cards__description {
  margin-top: 16px;
  margin-bottom: 0;
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

/* video */

.video {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__iframes {
  position: relative;
  top: 50px;
}

.video__iframe {
  width: 515px;
  height: 316px;
}

.video__iframe:first-child {
  margin-right: 20px;
}

/* Oaklay */

.oakley {
  display:flex;
  justify-content: center;
  padding-top: 160px;
  padding-bottom: 80px;
  background-color: #F2F2F2;
}

/* feynman */

.feynman {
  min-height: 790px;
  position: relative;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  text-align: center;
}

.feyman__title {
  width: 775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.feyman__subtitle {
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 0;
  text-align: center;
  display: inline-block;
}

.fayman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  transition: opacity .2s linear;
}

.fayman__link:hover {
  opacity :0.5;
}

/* digits */

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 80px;
}

.section-title {
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  z-index: 1;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 20px 0 0 0;
}

.table {
  width: 1100px;
  display: flex;
  margin-top: 60px;
  margin-bottom: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  row-gap: 60px;
}

.table__cell {
  width: 250px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* khan */

.khan {
  display: flex;
  background-color: #f2f2f2;
  padding-top: 105px;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__container {
  width: 80%;
  margin: auto;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.khan__quote {
  width: 790px;
  margin-top: 50px;
  margin-bottom: 36px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.khan__quote-author-subline {
  margin-top: 10px;
  margin-bottom: 68px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  margin-right: 48px;
  object-fit: cover;
  object-position: top;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  transition: opacity .2s linear;
}

.khan__buy-link:hover {
  opacity :0.5;
}

/* kaufman */

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1F1F1F;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  margin: auto;
  row-gap: 0;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  width: 660px;
  height: 636px;
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  right: -124px;
  top: 0;
  overflow: hidden;
  animation: rotation 20s linear infinite;
}

/* resources */

.resources {
  padding-top: 100px;
  padding-bottom: 217px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources__logo-zone {
  width: 1100px;
  margin-top: 80px;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

.resources_logo {
  width: 270px;
  height: 38px;
  transition: opacity .2s linear;
}

.resources_logo:hover {
  opacity :0.5;
}


/* footer */

.footer {
  min-height: 350px;
  background-color: #1F1F1F;
  display: flex;
  position: relative;
}

.footer__columns {
  width: 90%;
  margin: 60px auto 40px 64px;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.footer__column {
  padding: 0;
  margin: 0;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  margin: 18px 0;
  color: white;
  align-self: flex-start;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-top: 0;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  transition: opacity .2s linear;
}

.footer__column-link:hover {
  opacity :0.5;
}

.footer__social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}




